# Ignore __pycache__ folders
__pycache__/

# Ignore .vscode folder
.vscode/

# Ignore virtual environment folder
myvenv/

# Ignore compiled Python files
*.pyc

# Ignore requirements.txt file
requirements.txt